body {
    color: black;
    background-color: white;
    font-family: "PT Sans Narrow", Open Sans, sans-serif;
    font-size: 17px;
}

a {
    color: black;
    text-decoration: none;
}

nav {
    display: flex;
}

nav a {
    color: white;
    margin-left: 0;
    margin-top: 20px;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(1.2);
}

.cat-energy {
    margin-left: 7%;
    margin-top: 2%;
}

.navi {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 3%;
    margin-top: 2%;
    z-index: 1;
}

.mobile-navi {
    display: none;
    }

.background {
    position: absolute;
    left: auto;
    width: 50%;
    right: 0;
    top: 0;
    z-index: 0;
}

.bucket {
    position: absolute;
    left: auto;
    width: 35%;
    right: 27%;
    top: 20%;
    z-index: 0;
}

.button {
    background-color: #5aad34;
    color: white;
    padding: 30px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.circle {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #5aad34;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-right: 20%;
}

.circle-text {
    display: flex;
    justify-content:flex-start;
}

.circle-text h3 {
    padding-top: 20px;
}

.image {
    height: 20%;
    margin-left: 7%;
    margin-bottom: 22%;
    padding-top: 13%;
    z-index: -1;
}

.how-it-work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
}

.how-it-work img {
    background-color: #5aad34;
    z-index: 0;
}

.how-it-work h2 {
    margin-left: 7%
}

.main-elem {
    display: flex;
}

.main-elem-2 {
    display: flex;
}


.elem {
    font-size: 17px;
    width: 14%;
    height: 200px;
    margin: auto;
    margin-left: 7%;
    margin-right: 2%;
}

.back-num {
    color: #ededed;
    font-size: 300px;
    position: relative;
    right: -55%;
    top: -545px;
    z-index: -1;
}

.elem-2 {
    background-color: #ededed;
    width: 29%;
    margin: auto;
    margin-left: 7%;
    padding: 40px;
}

.elem-2 p {
    font-size: 17px;
}

.live-example h2 {
    margin-left: 7%;
    margin-top: 200px;
    margin-bottom: 50px;
}

.example {
    display: flex;
    flex-direction: row;
    background-color: #ededed;
}

.example table {
    border: 1px solid #a1a1a1;
    margin-right: 5%;
}

.example td {
    text-align: center;
    width: 200px;
}

.example-elem {
    margin-left: 7%;
}

.example-text {
    width: 50%;
    margin-right: 0;
}

.example img {
    margin-top: -150px;
}

.tables {
    display: flex;
    flex-direction: row;
}

.stats {
    display: flex;
}

.stat {
    margin-right: 2%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    height: 80px;
}

.cost {
    display: flex;
}

.cost h3 {
    margin-right: 13%;
}

.before-after {
    display: flex;
}

input[type=range] {
    width: 65%;
}

input[type=range]::-webkit-slider-thumb {
    position: relative;
    border-radius: 0;
}

.map {
    background: url(img/bg-map-desktop@1x.png) no-repeat center;
    background-size: 100%;
    background-color: #ededed;
    height: 300px;
    padding-top: 100px;
}

.map-text {
    display: flex;
    background-color: white;
    margin-left: 7%;
    width: 32%;
    height: 40%;
    padding: 30px;
}

.map-text div {
    margin-left: 5%;
}

footer {
    background-color: #ededed;
    display: flex;
    height: 100px;
}

footer div {
    margin: auto;
}

.soc img {
    margin-left: 10px;
    margin-right: 10px;
}

.academy {
    display: flex;
    flex-direction: row;
}

.academy img {
    margin-left: 20px;
}

@media (max-width: 400px) {
    body {
        color: black;
        background-color: white;
        font-family: "PT Sans Narrow", Open Sans, sans-serif;
        font-size: 17px;
    }

    a {
        color: black;
        text-decoration: none;
    }

    nav {
        display: flex;
    }

    nav a {
        color: white;
        margin-left: 0;
        margin-top: 20px;
    }

    .cat-energy {
        margin-left: 7%;
        margin-top: 2%;
    }

    .navi {
        display: none;
    }
    
    #nav-btn {
        border-bottom: 17px double #5aad34; 
        border-top: 6px solid #5aad34; 
        content:"";
        height: 5px; 
        width:30px;
    }

    .mobile-navi {
        display: none;
        flex-direction: column;
        position: absolute;
        margin-left: -3%;
        top: 0px;
        width: 101%;
        background-color: #ededed;
        height: 180px;
    }
    
    .mobile-navi-show {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-left: -3%;
        top: 0px;
        width: 101%;
        background-color: #ededed;
        height: 180px;
    }
    
    .mobile-navi a {
        font-weight: 600;
        padding-top: 30px;
        padding-left: 20%;
        color: black;
    }
    
    .lines-3 {
        margin-left: 20%;
        margin-top: 18px;
    }
    
    .background {
        position: absolute;
        left: auto;
        width: 100%;
        top: 75px;
        z-index: -2;
    }

    .bucket {
        position: absolute;
        left: auto;
        width: 100%;
        right: 0;
        top: 220px;
        z-index: -2;
    }

    .button {
        position: relative;
        margin-left: -6%;
        background-color: #5aad34;
        color: white;
        padding: 30px;
        padding-bottom: 12px;
        padding-top: 12px;
        top: 320px;
    }

    .circle {
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #5aad34;
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }

    .circle-text {
        display: flex;
        justify-content:flex-start;
    }

    .circle-text h3 {
        padding-top: 20px;
    }

    .circle img {
        height: 50px;
    } 
    
    .image {
        height: 20%;
        margin-left: 7%;
        margin-bottom: 22%;
        padding-top: 1%;
        z-index: -1;
        text-align: center;
        color: white;
        font-size: 13px;
    }
    
    .image h2 {
        font-size: 22px;
    }
    
    .how-it-work {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 0;
    }

    .how-it-work img{
        background-color: #5aad34;
        z-index: 0;
        margin-top: 0;
    }

    .main-elem {
        display: flex;
        flex-direction: column;
    }
    
    .main-elem-2 {
        display: flex;
        flex-direction: column;
        padding-top: 120%;
    }

    .elem {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        width: 95%;
        height: 130px;
        margin: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .elem img {
        height: 80px;
    }
    
    .elem p {
        margin-left: 4%;    
    }
    
    .back-num {
        display: none;
        color: #ededed;
        font-size: 300px;
        position: relative;
        right: -55%;
        top: -545px;
        z-index: -1;
    }

    .elem-2 {
        background-color: #ededed;
        width: 94%;
        margin: auto;
        margin-left: 0;
        padding: 10px;
        margin-bottom: 40px;
    }

    .elem-2 p {
        font-size: 15px;
    }

    .elem-2 h3 {
        font-size: 20px;
        margin: 0;
        padding: 0;
        margin-top: 10%;
        margin-left: -4%;
    }

    .circle .image-1 {
        height: 90px;
    }
    
    .circle .image-2 {
        height: 50px;
        margin-top: 20px;
    }

    .live-example h2 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 7%;
    }
    
    .example {
        display: flex;
        flex-direction: column;
        background-color: #ededed;
        font-size: 15px;
    }

    .example table {
        border: 1px solid #a1a1a1;
        width: 80%;
    }

    .example td {
        text-align: center;
        width: auto;
        font-size: 10px;
    }

    .example-elem {
        margin-left: 7%;
    }

    .example p {
        width: 80%;
        margin-right: 0;
    }

    .example img {
        margin-top: 10px;
        width: 100%;
    }

    .example h3 {
        font-size: 12px;
    }

    .tables {
        display: flex;
        flex-direction: row;
    }

    .stats {
        display: flex;
    }

    .stat {
        margin-right: 2%;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        height: 80px;
    }

    .cost {
        display: flex;
        flex-direction: row;
    }
    
    .cost h3 {
        margin: 0;
        margin-top: 20px;
        margin-left: 2px;
    }

    .before-after {
        display: flex;
    }

    input[type=range] {
        width: 65%;
    }

    input[type=range]::-webkit-slider-thumb {
        position: relative;
        border-radius: 0;
    }

    .map {
        background: url(img/bg-map-mobile@1x.png) no-repeat center;
        background-size: 100%;
        background-color: #ededed;
        height: 300px;
        padding-top: 100px;
    }

    .map-text {
        display: flex;
        background-color: white;
        width: 80%;
        height: 40%;
        padding: 5px;
        margin-left: 0;
        margin-top: -20%;
        font-size: 12px;
    }

    .map-text div {
        margin-left: 5%;
    }

    footer {
        background-color: #ededed;
        display: flex;
        flex-direction: column;
        height: 150px;
    }

    footer div {

    }

    .soc {
        display: flex;
        margin-top: 10px;
    }
    
    .soc img {
        margin-left: 5px;
        margin-right: 5px;
        width: 20px;
    }
    
    .soc .footer-image-1 {
        width: 40px;
        margin-top: 6px;
    }
    
    .soc .footer-image-2 {
        width: 32px;
    }
    
    .soc .footer-image-3 {
        width: 16px;
    }
    
    .academy {
        display: flex;
        flex-direction: row;
    }

    .academy img {
        margin-left: 20px;
    }
}